RewriteEngine On

# If the requested resource doesn't exist, rewrite it to index.html
RewriteCond	%{DOCUMENT_ROOT}/$1  !-f
# RewriteCond	%{DOCUMENT_ROOT}/$1  !-d
RewriteRule	^\.?(.*)$ /index.html [L]
